html, body {
    background-color: #fff;
    color: #366AA2;
}

h1, h2, h3, h4, h5 {
    color: #366AA2;  
}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 1020px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    min-height: 10px;
}

/* Page header tweaks */
.page-header {
    background-color: #fff;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
    min-height: 500px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
    margin-left: 10px;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}

#username {
    width: 200px;
}

#main {
    position: relative;
    overflow: hidden;
}

#onError {
    display: none;
}

#onChat {
    background-color: rgb(192, 211, 231);
    border: 1px solid #808080;
}

#messages {
    position: absolute;
    bottom: 60px;
    overflow-y: scroll;
    max-height: 300px;
    border-top: 1px solid #eee;
}

#talk {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 40px
}

.message {
    padding: 4px 0;
    border-bottom: 1px solid #eee;
    position: relative;
    font-size: 13px;
}

.message span {
  /*  width: 70px; */
    overflow: hidden;
    text-align: right;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -1px;
}

.message p {
    display: inline-block;
    margin: 0;
    width: 380px;
    margin-left: 5px;
}

.message.me {
    background: #FFC;
}

.message.join, .message.quit {
    background: #D9E7FB;
}

/* On Air Radio buttons */
/************************/

.onairswitch {
    position: relative; width: 152px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onairswitch-checkbox {
    display: none;
}
.onairswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onairswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onairswitch-inner:before, .onairswitch-inner:after {
    float: left; width: 50%; height: 50px; padding: 0; line-height: 50px;
    font-size: 23px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onairswitch-inner:before {
    content: "ON AIR";
    padding-left: 10px;
    background-color: #68E696; color: #FFFFFF;
}
.onairswitch-inner:after {
    content: "OFF AIR";
    padding-right: 10px;
    background-color: #ED3737; color: #FFFFFF;
    text-align: right;
}
.onairswitch-switch {
    width: 18px; margin: 16px;
    height: 18px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 98px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onairswitch-checkbox:checked + .onairswitch-label .onairswitch-inner {
    margin-left: 0;
}
.onairswitch-checkbox:checked + .onairswitch-label .onairswitch-switch {
    right: 0px;
}


/* Twitter Stream Radio buttons */
/************************/

.twitterstreamswitch {
    position: relative; width: 320px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.twitterstreamswitch-checkbox {
    display: none;
}
.twitterstreamswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.twitterstreamswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.twitterstreamswitch-inner:before, .twitterstreamswitch-inner:after {
    float: left; width: 50%; height: 50px; padding: 0; line-height: 50px;
    font-size: 23px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.twitterstreamswitch-inner:before {
    content: "TWITTER STREAM ON";
    padding-left: 10px;
    background-color: #68E696; color: #FFFFFF;
}
.twitterstreamswitch-inner:after {
    content: "TWITTER STREAM OFF";
    padding-right: 10px;
    background-color: #ED3737; color: #FFFFFF;
    text-align: right;
}
.twitterstreamswitch-switch {
    width: 18px; margin: 16px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 50px;
    position: absolute; top: 0; bottom: 0; right: 269px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.twitterstreamswitch-checkbox:checked + .twitterstreamswitch-label .twitterstreamswitch-inner {
    margin-left: 0;
}
.twitterstreamswitch-checkbox:checked + .twitterstreamswitch-label .twitterstreamswitch-switch {
    right: 0px;
}

