@(username: String)(implicit request: RequestHeader)

@import play.api.cache.Cache
@import play.api.Play.current

    @getYouTubeId() = @{
        Cache.getOrElse[String]("youtubeid") {""}
    }

@main(Some(username)) {
    
    <div>
        <h1>Bienvenue sur le Live Niptech</h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>

    
    <div class="row">
        <div class="span8">
            <iframe class="youtube-player" type="text/html"  width="100%" height="385" 
                src="http://www.youtube.com/embed/@getYouTubeId()" frameborder="0">
            </iframe>  
        </div>   
        <div id="onChat" class="span6" style="height: 439px;">
            <div style="border-bottom: 2px solid #eee;">
                <h3 id="members-title" style="margin-top:-50px;">Membres connectés</h3>
                <ul id="members">
                </ul>
            </div>
            <div id="main" style="height:350px;">
                <div id="messages" style="border-top: 1px;">
                </div>
                <textarea id="talk"></textarea>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" charset="utf-8">
    
        $(function() {
            
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var chatSocket = new WS("@routes.Application.chat(username).webSocketURL()")
            
            var sendMessage = function() {
                chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
                ))
                $("#talk").val('')
            }
            
            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)
                
                // Handle errors
                if(data.error) {
                    chatSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#onChat").show()
                }
                
                // Create the message element
                var el = $('<div class="message"><span></span><p></p></div>')
                $("span", el).text(data.user)
                $("p", el).text(data.message)
                $(el).addClass(data.kind)
                if(data.user == '@username') $(el).addClass('me')
                $('#messages').append(el)

                //Scroll to the bottom
                var height = $('#messages')[0].scrollHeight;
                $('#messages').scrollTop(height);
                
                // Update the members list
                $("#members").html('') 
                $(data.members).each(function() {
                $("#members").append('<li>' + this + '</li>')
                })

                //Update the members number
                $("#members-title").html(data.members.length + ' Membres connectés') 

            }
            
            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                } 
            }
            
            $("#talk").keypress(handleReturnKey)  
            
            chatSocket.onmessage = receiveEvent
            
        })
    
    </script>
    
}
