@(username: String, twitterId: String)(implicit request: RequestHeader)

@import play.api.cache.Cache
@import play.api.Play.current
@import models.ChatRoom

@getYouTubeId() = @{
    Cache.getOrElse[String]("youtubeid") {""}
}

@main(Some(username)) {

    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>

    <div class="row">
        <div class="span6">
            <div id="ytplayer"></div>
            <button class="btn btn-primary" id="reloadvideo" onclick="reloadVideo()">Synchronisation avec le direct</button>
        </div>
        <div class="span5" style="margin-left: 10px;">
            <div id="onChat">
                <div id="main" style="height:390px;">
                    <div id="messages">
                    </div>
                    <textarea id="talk" style="width: 360px;"></textarea>
                </div>
            </div>
            <button class="btn btn-primary" id="changeUserButton" onclick="changeNickname()">Change nickname</button>
            <a class="btn btn-primary" id="connectTwitter" href="@routes.Application.twitterLogin()">Connexion avec Twitter</a>
            <div class="alert alert-success fade in" id="infomsg" style="display: none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span></span>
            </div>
            <div class="alert alert-error fade in" id="errormsg" style="display: none">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span></span>
            </div>        </div>
        <div class="span2" style="border-bottom: 2px solid #aaa; margin-left: 10px;">
            <h4 id="members-title" style="margin-top:0px;">@ChatRoom.members.length Membres</h4>
            <ul id="members">
                @for(member <- ChatRoom.members) {
                    <li>@member</li>
                }
            </ul>
        </div>
    </div>

    <div id="changeuser" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changeuserLabel" aria-hidden="true">
        <div class="modal-header">
            <h3>Merci de saisir ton nouveau username</h3>
        </div>
        <div class="modal-body">
            <input type="input" name="username" id="username"
            style="margin-top: 10px;
                    width: 300px;
                    height: 40px;
                    font-size: 23px;
                    font-family: Trebuchet, Arial, sans-serif;
                    font-weight: bold;">
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" name="changeButton" id="changeButton" style="height: 45px; font-size: 23px;">Change</button>
        </div>
    </div>

    <br/><br/>
    <br/>
    <footer>
            <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/deed.fr"><img alt="Licence Creative Commons" style="border-width:0;text-align:center;" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
    </footer>

    <script type="text/javascript" charset="utf-8">

        var tag = document.createElement('script');
        tag.src = "//www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('ytplayer', {
                    height: '385',
                    width: '100%',
                    playerVars: { 'autoplay': 1, 'autohide': 1 },
                    videoId: '@getYouTubeId()',
                    events: {
                        'onReady': onPlayerReady
                        }
                    });
        }

        function onPlayerReady(event) {
            // event.target.playVideo();
        }


        function reloadVideo() {
          player.loadVideoById("@getYouTubeId()")
        }

        function toggleHelp() {
            $("#help").popover('toggle')
        }

        function showMsg(textMsg) {
            $("#infomsg span").text(textMsg)
            var msg = $("#infomsg").alert()
            msg.fadeIn()
            msg.delay(3000).fadeOut()
        }

        function showErrorMsg(textMsg) {
            $("#errormsg span").text(textMsg)
            var msg = $("#errormsg").alert()
            msg.fadeIn()
            msg.delay(5000).fadeOut()
        }

        function changeNickname() {
            $('#changeuser').modal()
            $("#username").focus()
        }

        var allMembers = [];


        $(function() {

			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var chatSocket = new WS("@routes.Application.chat(username).webSocketURL()")

            var sendMessage = function() {
                chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
                ))
                $("#talk").val('')
            }

            var sendText = function(textMsg) {
                chatSocket.send(JSON.stringify(
                    {text: textMsg}
                ))
            }

            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)

                // Handle errors
                if(data.error) {
                    chatSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#onChat").show()
                }

                // Create the message element
                var el = $('<div class="message"><span></span><em style="font-size:10px; color:#aaa"></em><img src="' + data.avatar + '" class="pull-right" style="margin-right: 10px;"></img><br/></div>')
                $("span", el).text(data.user)
                var now = new Date()
                var min = now.getMinutes() + ""
                if (min.length == 1) {
                    min = "0" + min
                }
                $("em", el).text(now.getHours() + ':' + min)
                $(el).append("<p>"+data.message+"</p>")

                $(el).addClass(data.kind)
                if(data.user == myname) $(el).addClass('me')
                $('#messages').append(el)

                //Scroll to the bottom
                var height = $('#messages')[0].scrollHeight;
                $('#messages').scrollTop(height);

                // Update the members list
                $("#members").html('')
                allMembers = data.members
                $(data.members).each(function() {
                    if (this != myname)
                        $("#members").append('<li>' + this + '</li>')
                    else
                        $("#members").append('<li><strong>' + this + '</strong></li>')
            })

                //Update the members number
                $("#members-title").html(data.members.length + ' Membres')

            }

            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    sendMessage()
                }
            }

            $("#talk").keypress(handleReturnKey)

            chatSocket.onmessage = receiveEvent

            var alreadyExist = function(user) {
                var resp = false
                $(allMembers).each(function() {
                    if (this == user)
                        resp = true
                    })
                return resp
            }

            var changeUsername = function(e) {
                var username = document.getElementById('username').value
                if(username.indexOf("<") != -1) {
                    showErrorMsg("Si tu veux programmer en HTML, aide nous plutôt à faire évoluer le chat")
                } else
                if(username.indexOf("@@") != -1) {
                    showErrorMsg("Le caractère @@ est réservé pour les comptes twitters")
                } else
                if(alreadyExist(username)) {
                    showErrorMsg("Utilisateur déjà existant")
                } else
                if(username.trim() == "") {
                    showErrorMsg("Merci de saisir un nom d'utilisateur")
                } else               {
                    myname = username
                    sendText("nickname:" + username)
                }
                $("#changeuser").modal('hide')
            }

            var handleUsernameReturnKey = function(e) {
            if(e.charCode == 13 || e.keyCode == 13) {
                    e.preventDefault()
                    changeUsername()
                }
            }

            $("#username").keypress(handleUsernameReturnKey)
            $("#changeButton").click(changeUsername)
            $("#username").focus()

            var myname = "@ChatRoom.username(username)"

            showMsg("Connecté en tant que @ChatRoom.username(username)")

        })
            // TODO intégrer les smileys


    </script>




}
