@()(implicit flash: Flash)

@import play.api.cache.Cache
@import play.api.Play.current

@getYouTubeId() = @{
    Cache.getOrElse[String]("youtubeid") {""}
}

@main(None) {
    
    @flash.get("error").map { errorMessage =>
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @errorMessage
            </p>
        </div>
        
    }
        
    <div class="alert-message block-message info">
        <p>
            <h1>Bienvenue sur le live Niptech</h1>
            @if(getYouTubeId() == "") {
                <br/>
                <h2><center>Il n'y a pas de live actuellement en cours de diffusion</center></h2>
            } else {
                <h2>On air : x utilisateurs connectés</h2>
                <h3>Pour entrer, choisis un pseudo et connecte toi avec le formulaires en haut à droite</h3>
            }
        </p>
    </div>
    
}