@()(implicit flash: Flash)

@import play.api.cache.Cache
@import play.api.Play.current

@getYouTubeId() = @{
    Cache.getOrElse[String]("youtubeid") {""}
}

@main(None) {
    
    @flash.get("error").map { errorMessage =>
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @errorMessage
            </p>
        </div>
        
    }
        
    <div class="alert-message block-message info">
        <p>
            @if(getYouTubeId() == "") {
                <br/><br/><br/><br/><br/><br/><br/><br/>
                <h2><center>Il n'y a pas de live actuellement en cours de diffusion</center></h2>
            } else {
                <div style="text-align:center;">
                    <img src="@routes.Assets.at("images/live.png")"/>
                    <h2>@ChatRoom.nbUsers utilisateur(s) connectés</h2>
                </div>
            }
         </p>
    </div>
    @if(getYouTubeId() != "") {
        <div style="text-align:center;">
        <h3>Pour entrer, choisis un pseudo et saisis ton Id twitter pour voir ton avatar</h3>
        <br/>
        <form action="@routes.Application.twitterLogin()">
            <em style="font-size:300%; height: 50px;">@@</em><input id="twitterId" name="twitterId" class="input-xlarge" type="text" placeholder="Twitter id" style="font-size:200%; height: 50px;">
            <br/>
            <input id="username" name="username" class="input-xlarge" type="text" placeholder="Pseudo" style="font-size:200%; height: 50px;">
            <button class="btn btn-primary" style="margin-top:-10px; font-size:200%; height: 55px;" type="submit">Connection</button>
        </form>
        </div>
    }

    <script type="text/javascript" charset="utf-8">

    $(function() {
        $("#username").change(function(e) {
            if($("#username").val().indexOf("<") != -1) {
              alert("Si tu veux programmer en HTML, aide nous plutôt à faire évoluer le chat")
              $("#username").val('')
            }
        })

    })

    </script>

}