@(error: Option[String] = None)
@main(None) {

    @error.map{ err =>
    <div class="alert alert-error">
        @err
    </div>
    }
    <div style="margin-top: 50px; margin-bottom: 50px; font-size: 200%;">
        <div class="well well-large loginScreen" style="padding-bottom: 60px;">
            <form method="POST" action="@routes.Application.doLogin">
                <div class="form-vertical">
                    <label class="control-label" for="inputPassword" style="font-size:150%; line-height: 50px;"> Password </label>
                    <input type="password" id="inputPassword" name="password" style="font-size:150%; width: 480px; height: 50px;"/>
                    <br/>
                    <div style="margin-top: 5px;">
                        <button value="submit" class="nip-button" style="font-size: 30px; padding: 20px 0px;">Log in </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        $("#inputPassword").focus()
    </script>

}