@(user: Option[String])(content: Html)

@import play.api.cache.Cache
@import play.api.Play.current


<!DOCTYPE html>

<html ng-app=liveChat>
    <head>
        <title>Live</title>
        <meta property="og:title" content="Niptech live chatroom" />
		<meta property="og:image" content="http://live.niptech.com/assets/images/Thumbnail.jpg" />
		<meta property="og:description" content="Diffusion du live niptech tous les mardi soir à 21h00. Venez nous rejoindre et partagez vos commentaires." />
        <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/niptechlive-main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap.js"))"></script>


        <script src="@routes.Assets.at("javascripts/app.js")"></script>
        <script src="@routes.Assets.at("javascripts/controllers.js")"></script>
        <script src="@routes.Assets.at("javascripts/directives.js")"></script>

        <style>
            @@font-face { font-family: Hero; src: url('@routes.Assets.at("fonts/Hero.otf")'); }
            @@font-face { font-family: HeroLight; src: url('@routes.Assets.at("fonts/HeroLight.otf")'); }
        </style>
    </head>
    <body ng-controller="ChatCtrl"
        @user.map { username =>
            ng-init="connect(@username)"
        }
    >


        <div style="margin-top:3px;">

                @content

        </div>
        
    </body>
</html>
